<mat-nav-list clas="sidebar">

    <div class="profile-card">
        <img src="/assets/imgs/yato.png" alt="">
        <div class="header">
            <h2>Bruno Mattge</h2>
            <h4>brmattge@gmail.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        Favoritas
        <mat-icon>star</mat-icon>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        Cadastro de Bandas
        <mat-icon>source</mat-icon>
    </a>

</mat-nav-list>