<div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="flex-end" class="actions">

    <div fxFlex="100%" fxLayoutGap="20px" style="padding: 7.5px;">
        <h2>Bandas</h2>
    </div>

    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px"
        style="padding: 7.5px; padding-bottom: 0px;">
        <p-dialog appendTo="body" header="Adicione sua banda favorita" [(visible)]="display"
            [style]="{width: '1000px', height: '500px'}" [modal]="true" *ngIf="bandas"> 
            <div class="container">
                <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start">
                    <div>
                        <p-card>
                            <div style="display: flex;
                            align-items: center;
                            justify-content: center;">
                                <i class="far fa-image fa-10x"></i>
                            </div>
                            <div style="display: flex;
                            align-items: center;
                            justify-content: center;">
                                Adicionar imagem
                            </div>
                        </p-card>
                    </div>
                </div>
                <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="7.5px">
                    <div>
                        <p>Nome da Banda</p>
                        <input id="nmBanda" type="text" size="30" pInputText [(ngModel)]="bandas.nmBanda" >
                    </div>
                    <div>
                        <p>Estilo</p>
                        <input id="input" type="text" size="30" pInputText>
                    </div>
                    <div>
                        <p>Descobrimento</p>
                        <input id="input" type="text" size="30" pInputText>
                    </div>
                    <div>
                        <p-checkbox [(ngModel)]="value" [binary]="true" label="Ativa"></p-checkbox>
                    </div>
                </div>
            </div>
            <div class="buttons-dialog">
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="7.5px">
                    <div>
                        <button type="button" (click)="display=false" pButton label="Cancelar"></button>
                    </div>
                    <div>
                        <button type="button" (click)="adicionarBanda()" pButton label="Cadastrar"></button>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>



    <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Adicionar"></button>
    <p-table [value]="bandas">
        <ng-template pTemplate="header">
            <tr>
                <th>Logo</th>
                <th>Ranking</th>
                <th>Banda</th>
                <th>Estilo</th>
                <th>Descobrimento</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bandas>
            <tr>
                <td></td>
                <td></td>
                <td>{{bandas.nmBanda}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>

</div>